<form (ngSubmit)="adicionarFornecedor()" [formGroup]="fornecedorForm">
	<div class="col-12">
		<div class="card">
			<h5 class="col-12 p-0">Cadastro novo fornecedor</h5>
			<div class="p-fluid p-formgrid grid">

				<div class="col-6">
					<label htmlFor="nome">Nome</label>
					<input
						pInputText
						id="nome"
						type="text"
						formControlName="nome"
						[ngClass]="{ 'ng-dirty ng-invalid': displayMessage['nome'] }"
					/>
					<small
						id="username-help"
						class="p-error"
						*ngIf="displayMessage['nome']"
					>
						<p [innerHTML]="displayMessage['nome']"></p>
					</small>
				</div>

				<div class="col-12 grid">
					<div class="col-3">
						<div class="field-radiobutton">
							<p-radioButton
								name="tipoFornecedor"
								value="1"
								id="pessoaFisica"
								formControlName="tipoFornecedor"
							></p-radioButton>
							<label for="pessoaFisica">Pessoa Física</label>
						</div>
					</div>
					<div class="col-3">
						<div class="field-radiobutton">
							<p-radioButton
								name="tipoFornecedor"
								value="2"
								id="pessoaJuridica"
								formControlName="tipoFornecedor"
							></p-radioButton>
							<label for="pessoaJuridica">Pessoa Jurídica</label>
						</div>
					</div>
				</div>

				<div class="col-6">
					<label htmlFor="documento">Documento</label>
					<input
						pInputText
						id="documento"
						type="text"
						formControlName="documento"
						placeholder="{{ textoDocumento }}"
						cnpj
						[textMask]="getTipoFornecedorForm().value === '1' ? {mask: MASKS['cpf'].textMask} : {mask: MASKS['cnpj'].textMask}"
						[ngClass]="{ 'ng-dirty ng-invalid': displayMessage['documento'] }"
					/>
					<small
						id="username-help"
						class="p-error"
						*ngIf="displayMessage['documento']"
					>
						<p [innerHTML]="displayMessage['documento']"></p>
					</small>
				</div>

				<div class="col-12">
					<div class="field-checkbox">
						<p-checkbox [binary]="true" [formControl]="$any(fornecedorForm).controls['ativo']"></p-checkbox>
						<label for="ativo">Ativo</label>
					</div>
				</div>
			</div>

			<h5 class="col-12 p-0">Endereço</h5>

			<div class="p-fluid p-formgrid grid">
				<ng-container formGroupName="endereco">

					<div class="col-6">
						<label htmlFor="cep">CEP</label>
						<input
							pInputText
							id="cep"
							type="text"
							formControlName="cep"
							cep
							[textMask]="{mask: MASKS['cep'].textMask}"
							[ngClass]="{ 'ng-dirty ng-invalid': displayMessage['cep'] }"
						/>
						<small
							id="username-help"
							class="p-error"
							*ngIf="displayMessage['cep']"
						>
							<p [innerHTML]="displayMessage['cep']"></p>
						</small>
					</div>

					<div class="col-6">
						<label htmlFor="logradouro">Logradouro</label>
						<input
							pInputText
							id="logradouro"
							type="text"
							formControlName="logradouro"
							[ngClass]="{
								'ng-dirty ng-invalid': displayMessage['logradouro']
							}"
						/>
						<small
							id="username-help"
							class="p-error"
							*ngIf="displayMessage['logradouro']"
						>
							<p [innerHTML]="displayMessage['logradouro']"></p>
						</small>
					</div>

					<div class="col-6">
						<label htmlFor="numero">Número</label>
						<input
							pInputText
							id="numero"
							type="text"
							formControlName="numero"
							[ngClass]="{ 'ng-dirty ng-invalid': displayMessage['numero'] }"
						/>
						<small
							id="username-help"
							class="p-error"
							*ngIf="displayMessage['numero']"
						>
							<p [innerHTML]="displayMessage['numero']"></p>
						</small>
					</div>

					<div class="col-6">
						<label htmlFor="complemento">Complemento</label>
						<input
							pInputText
							id="complemento"
							type="text"
							formControlName="complemento"
							[ngClass]="{
								'ng-dirty ng-invalid': displayMessage['complemento']
							}"
						/>
						<small
							id="username-help"
							class="p-error"
							*ngIf="displayMessage['complemento']"
						>
							<p [innerHTML]="displayMessage['complemento']"></p>
						</small>
					</div>

					<div class="col-6">
						<label htmlFor="bairro">Bairro</label>
						<input
							pInputText
							id="bairro"
							type="text"
							formControlName="bairro"
							[ngClass]="{ 'ng-dirty ng-invalid': displayMessage['bairro'] }"
						/>
						<small
							id="username-help"
							class="p-error"
							*ngIf="displayMessage['bairro']"
						>
							<p [innerHTML]="displayMessage['bairro']"></p>
						</small>
					</div>

					<div class="col-6">
						<label htmlFor="cidade">Cidade</label>
						<input
							pInputText
							id="cidade"
							type="text"
							formControlName="cidade"
							[ngClass]="{ 'ng-dirty ng-invalid': displayMessage['cidade'] }"
						/>
						<small
							id="username-help"
							class="p-error"
							*ngIf="displayMessage['cidade']"
						>
							<p [innerHTML]="displayMessage['cidade']"></p>
						</small>
					</div>

					<div class="col-6">
						<p-dropdown [options]="estados" formControlName="estado" placeholder="Selecione um Estado"></p-dropdown>
					</div>

				</ng-container>
			</div>

			<div class="col-12 flex justify-content-start mt-5">
				<div class="flex">
					<button
						type="button"
						pButton
						icon="pi pi-angle-left"
						label="Voltar"
					></button>
					<button
						pButton
						type="submit"
						label="Salvar"
						class="p-button-success mx-4"
						icon="pi pi-save"
						[disabled]="fornecedorForm.invalid"
					></button>
				</div>
			</div>
		</div>
	</div>
</form>
