<form (ngSubmit)="adicionarProduto()" [formGroup]="produtoForm">
	<div class="col-12">
		<div class="card">
			<div class="col-12 p-0">
				<div class="p-fluid p-formgrid grid">

					<ng-container formGroupName="fornecedorForm">
						<div class="col-12 md:col-6">
							<label for="fornecedor">Fornecedor</label>
							<p-dropdown
								id="fornecedor"
								[options]="fornecedores"
								formControlName="fornecedor"
								placeholder="Selecione"
							></p-dropdown>
						</div>
					</ng-container>

					<div class="col-12 md:col-6">
						<label htmlFor="bairro">Nome</label>
						<input
							pInputText
							id="nome"
							type="text"
							formControlName="nome"
							[ngClass]="{ 'ng-dirty ng-invalid': displayMessage['nome'] }"
						/>
						<small
							id="username-help"
							class="p-error"
							*ngIf="displayMessage['nome']"
						>
							<p [innerHTML]="displayMessage['nome']"></p>
						</small>
					</div>

					<div class="col-12">
						<label htmlFor="bairro">Descrição</label>
						<textarea
							[cols]="30"
							pInputTextarea
							[autoResize]="true"
							formControlName="descricao"
						></textarea>
						<small
							id="username-help"
							class="p-error"
							*ngIf="displayMessage['descricao']"
						>
							<p [innerHTML]="displayMessage['descricao']"></p>
						</small>
					</div>

					<div class="col-12 md:col-6">
						<div class="p-inputgroup">
							<input type="text" pInputText placeholder="Imagem do Produto" />
							<button type="button" pButton pRipple label="Procurar"></button>
						</div>
					</div>

					<div class="col-12 md:col-6">
						<div class="p-inputgroup">
							<span class="p-inputgroup-addon">R$</span>
							<input
								pInputText
								id="valor"
								type="text"
								formControlName="valor"
								placeholder="Valor"
							/>
						</div>
					</div>

					<div class="col-12">
						<div class="field-checkbox">
							<p-checkbox
								[binary]="true"
								[formControl]="$any(produtoForm).controls['ativo']"
							></p-checkbox>
							<label for="ativo">Ativo</label>
						</div>
					</div>

					<div class="col-12 flex justify-content-start mt-5">
						<div class="flex">
							<button
								type="button"
								pButton
								icon="pi pi-angle-left"
								label="Voltar"
								[routerLink]="['/produtos']"
							></button>
							<button
								pButton
								type="submit"
								label="Salvar"
								class="p-button-success mx-4"
								icon="pi pi-save"
								[disabled]="produtoForm.invalid"
							></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
