<form (ngSubmit)="adicionarProduto()" [formGroup]="produtoForm">
	<div class="col-12">
		<div class="card">
			<div class="col-12 p-0">
				<div class="p-fluid p-formgrid grid">
					<ng-container formGroupName="fornecedorForm">
						<div class="col-12 md:col-6">
							<label for="fornecedor">Fornecedor</label>
							<p-dropdown
								id="fornecedor"
								[options]="fornecedores"
								formControlName="fornecedor"
								placeholder="Selecione"
							></p-dropdown>
						</div>
					</ng-container>

					<div class="col-12 md:col-6">
						<label htmlFor="bairro">Nome</label>
						<input
							pInputText
							id="nome"
							type="text"
							formControlName="nome"
							[ngClass]="{ 'ng-dirty ng-invalid': displayMessage['nome'] }"
						/>
						<small
							id="username-help"
							class="p-error"
							*ngIf="displayMessage['nome']"
						>
							<p [innerHTML]="displayMessage['nome']"></p>
						</small>
					</div>

					<div class="col-12">
						<label htmlFor="bairro">Descrição</label>
						<textarea
							[cols]="30"
							pInputTextarea
							[autoResize]="true"
							formControlName="descricao"
						></textarea>
						<small
							id="username-help"
							class="p-error"
							*ngIf="displayMessage['descricao']"
						>
							<p [innerHTML]="displayMessage['descricao']"></p>
						</small>
					</div>

					<div class="col-12 md:col-6 div-input-file">
							<input class="input-file" id="input-file" type="file" (change)="fileChangeEvent($event)" />
							<label for="input-file">
								<span>{{ imagemNome ? imagemNome : 'Selecione uma Imagem' }}</span>
								<strong>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="20"
										height="17"
										fill="#444"
										viewBox="0 0 20 17"
									>
										<path
											d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"
										></path>
									</svg>
								</strong>
							</label>
					</div>

					<div class="col-12 md:col-6">
						<div class="p-inputgroup">
							<span class="p-inputgroup-addon">R$</span>
							<input
								pInputText
								id="valor"
								type="text"
								formControlName="valor"
								placeholder="Valor"
							/>
						</div>
					</div>

					<div class="col-12 md:col-6" *ngIf="imagemNome">
						<image-cropper
							[imageChangedEvent]="imageChangedEvent"
							[maintainAspectRatio]="false"
							[containWithinAspectRatio]="containWithinAspectRatio"
							[aspectRatio]="4 / 3"
							[resizeToWidth]="256"
							[cropperMinWidth]="128"
							[onlyScaleDown]="true"
							[roundCropper]="false"
							[canvasRotation]="canvasRotation"
							[transform]="transform"
							[alignImage]="'left'"
							[style.display]="showCropper ? null : 'none'"
							format="png"
							(imageCropped)="imageCropped($event)"
							(imageLoaded)="imageLoaded()"
							(cropperReady)="cropperReady($event)"
							(loadImageFailed)="loadImageFailed()"
						></image-cropper>

					</div>

					<div class="col-12 md:col-6" *ngIf="imagemNome">
						<img [src]="croppedImage" />
					</div>

					<div class="col-12">
						<div class="field-checkbox">
							<p-checkbox
								[binary]="true"
								[formControl]="$any(produtoForm).controls['ativo']"
							></p-checkbox>
							<label for="ativo">Ativo</label>
						</div>
					</div>

					<div class="col-12 flex justify-content-start mt-5">
						<div class="flex">
							<button
								type="button"
								pButton
								icon="pi pi-angle-left"
								label="Voltar"
								[routerLink]="['/produtos']"
							></button>
							<button
								pButton
								type="submit"
								label="Salvar"
								class="p-button-success mx-4"
								icon="pi pi-save"
								[disabled]="produtoForm.invalid"
							></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
